{% extends "base.html" %}
{% block title %}Signup{% endblock %}

{% block content %}

    {% for message in form.email.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.password.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    <form action="{{ url_for('signup') }}" method=post class="wtform">
        {{ form.hidden_tag() }}

        {{ form.email.label }}
        {{ form.email }}

        {{ form.password.label }}
        {{ form.password }}

        <div style="width:400px;">
        {{ form.submit }}
        <a href="index" id="backlnk">Back</a>
        </div>
    </form>

{% endblock %}
